<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dbx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=..\MathUser.accdb"
      providerName="System.Data.OleDb" />
    <add name="MathGames.My.MySettings.MathUserConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MathUser.accdb"
      providerName="System.Data.OleDb" />
    <add name="MathGames.My.MySettings.MathQuestionConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MathQuestion.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>

</configuration>